<h1><%= @user.screen_name %> Weather</h1>

<h2><%= @user.location %></h2>

<h2>Right Now</h2>
<h3><%= @weather.current_temperature %></h3>
<p><%= @weather.current_summary %> * Feels like <%= @weather.feels_like %></p>

<h3>Next Hour</h3>
<p><%= @weather.next_hour_description %></p>

<h3>Next 24 Hours</h3>
<p><%= @weather.twelve_hour_description %></p>

<h3>Next 7 Days</h3>
<p><%= @weather.seven_day_description %></p>
