<!DOCTYPE html>
<html>
<head>
  <title>ApiCurious</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <%= render partial: "layouts/nav" %>

        <section class="inner cover">
          <%= yield %>
        </section>

        <%= render partial: "layouts/footer" %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
